CONFIG_TARGET_bcm53xx=y
CONFIG_TARGET_bcm53xx_DEVICE_phicomm_k3=y
CONFIG_BUILD_PATENTED=y

# K3博通无线，禁用mac80211全套，规避编译报错
CONFIG_PACKAGE_k3-brcmfmac4366c-firmware=y
CONFIG_PACKAGE_kmod-mac80211=n
CONFIG_PACKAGE_mac80211=n
CONFIG_PACKAGE_backports=n
CONFIG_PACKAGE_kmod-backports=n

# 博通交换机
CONFIG_PACKAGE_kmod-bcm53xx-switch=y
CONFIG_PACKAGE_kmod-swconfig=y
CONFIG_PACKAGE_swconfig=y

# LuCI中文基础界面
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-i18n-base-zh-cn=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-theme-bootstrap=y

# PPPoE拨号
CONFIG_PACKAGE_netifd=y
CONFIG_PACKAGE_ppp=y
CONFIG_PACKAGE_ppp-mod-pppoe=y

# ========= Docker 内核必须项 =========
CONFIG_CGROUPS=y
CONFIG_NAMESPACES=y
CONFIG_OVERLAY_FS=y
CONFIG_VETH=y
CONFIG_BRIDGE=y
CONFIG_KERNEL_TUN=y
CONFIG_PACKAGE_kmod-tun=y

# Docker 软件包 + 网页管理面板
CONFIG_PACKAGE_dockerd=y
CONFIG_PACKAGE_docker=y
CONFIG_PACKAGE_luci-app-dockerman=y

# USB支持（U盘挂载，Docker数据目录放U盘）
CONFIG_PACKAGE_kmod-usb-core=y
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_e2fsprogs=y
CONFIG_PACKAGE_block-mount=y
